
<h4>Përshendetje Vizitor!</h4>
<p>Ju lutem plotësoni formën për të ruajtur preferencën tuaj muzikore!</p>
<form asp-controller="Home" asp-action="RuajPreference" method="post">
    <input type="text" name="preference" />
    <input type="submit" value="Ruaj Preference" class="btn btn-info"/>
    </form>