




@model MenaxhimiGjendjes.Models.Guest
<h4>Të dhena Personale</h4>
<table class="table">
<tr><td>Email</td><td>@Model.Email</td></tr>
<tr><td>Username</td><td>@Model.Username</td></tr>
<tr><td>Mosha</td><td>@Model.Mosha</td></tr>
</table>


 <a asp-action="Pastro" asp-controller="Home">Pastro session</a>